<!--The content below is only a placeholder and can be replaced.-->

<div class="flex-container" style="border:1px solid yellow;">
    <div class="flex-item">
        <app-header></app-header>
    </div>

    <div class="flex-item">
      <app-menu></app-menu>
    </div>

    <div class="flex-item">
      <!-- <app-mainContainer> -->
          <router-outlet></router-outlet> <!-- to load the views -->
      <!-- </app-mainContainer> -->
    </div>
</div>

<!-- <router-outlet></router-outlet> -->

<mat-card class="my-alternate-theme">
  My Alternate Themes:
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warning</button>

  <!--
  <mat-card color="primary">Primary Color - mat-card
    <mat-card-title color="primary">Primary Color - mat-card-title</mat-card-title>
    <mat-card-content color="primary">Primary Color - mat-card-content</mat-card-content>
  </mat-card>
  -->

  <mat-label color="primary">Primary Color - mat-label</mat-label>
  <div appearance="outline" color="primary">Primary Color - div</div>
  <mat-label appearance="outline" color="primary">mat-label</mat-label>
</mat-card>


<div>
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Enter your name">
    </mat-form-field>
  </div>
